<!-- Put your page content here -->
<div class="row justify-content-center">

    <div class="card col-md-7">
        <h1>DopAt</h1>
        <p>Welcome to DopAt, the world's first classroom attendance website!</p>
    </div>



</div><!-- End of main row -->

<div class="row justify-content-center">
    <div class="col-md-5 card">
        <h3>For Professors</h3>
        <p>Sign up and take attendance in all your clases for free!</p>
        <div>
            <a href="/signup">
                <button class="btn btn-primary action-button">Register</button>
            </a>
        </div>
    </div>

    <div class="col-md-5 card">
        <h3>For Students</h3>
        <p>Sign up because attendance counts towards your grade. At least you don't have to pay!</p>
        <div>
            <a href="/signup">
                <button class="btn btn-primary action-button">Register</button>
            </a>
        </div>
    </div>
</div>
