<div class="row justify-content-center">
    <div class="card col-md-7">
        <h1>DopAt General Privacy Policy</h1>
        Our Policy
        Welcome to DopAt, the world’s premier classroom attendance website!  DopAt (“us”, “we” and/or “our”), is committed to providing you, our users (“you” and/or “your”) with fast, fun, and easy-to-use classroom attendance and quiz features.
        By joining DopAt, you agree to the privacy practices described in this policy. If you do not agree to the terms of this policy, please do not access or use the DopAt services (“Services”).
        
    </div>
    <div class="card col-md-7">
        <h3>What Information Do We Collect?</h3>
        In order to provide you with our best Services, we need to process personal information which could be used to identify you (“Personal Data”).
        <b>Account Information</b>
        When you sign up for an account via our website, we will store your account data, such as the username and/or email you provide. This is done so that we can set up your profile and inform you of updates to our services and policies.
        <b>Device Information</b>
        In order to provide you with DopAt app services, we will need to collect data from your mobile device or personal computer. This includes log data such as your IP address, browser type, and data and time of request.
        <b>What Information Do We Share?</b>
        We may share or disclose your information at your direction, such as when you voluntarily share information or content on the website.
    </div>
    <div class="card col-md-7">
        There are certain circumstances in which we may share your Personal Data with certain third parties without further notice to you, unless required by the law, as set forth below:
        <b>Vendors and Service Providers:</b> In order to maintain our Services certain vendors and service providers must have access to some Personal Data. Data shared with our service providers will be limited to what is relevant and necessary to complete the provided service.
        <b>Business Transfers:</b> If we are involved in a merger, acquisition or transition of service to another provider, your Personal Data and other information may be transferred to a successor or affiliate as part of that transaction.
        <b>Legal Requirements:</b> We may also access and release Personal Data when we believe the release is necessary in order to (i) comply with the law, (ii) protect and defend our rights or property, (iii) act in urgent circumstances to protect the personal safety of users of the Platform or the public, or (iv) protect against legal liability.
        <b>Links to Third Party Sites</b>
        DopAt’s website may contain links to other websites not operated or controlled by us. The information that you share with third party sites will be governed by the specific privacy policies and terms of service of those sites and not by this Privacy Policy. By providing these links we do not imply that we endorse or have reviewed these sites. Please contact those sites directly for information on their privacy practices and policies.
        
        <b>Cookies</b>
        We use cookies to operate and administer our Platform and Services, make it easier for you to use the Services during future visits, and gather usage data on our Platform.
        
        <b>Children</b>
        We do not knowingly collect Personal Data from children under the age of 13. If you have reason to believe that a child under the age of 13 has shared Personal Data to the Platform please contact us and we will endeavor to delete that information from our databases.
        
        <b>Data Security</b>
        We take appropriate security measures to protect your information against unauthorized access, alteration, disclosure or destruction. Please note that these security measures cannot fully eliminate security risks associated with disclosure of information. In the event of a security breach, we will notify you within a reasonable time if your personal data has been accessed.
        
        <b>Updates to This Policy</b>
        We reserve the right to update this privacy policy, at which time you will be notified and will be able to view the updated General Privacy Policy. Continuing to use DopAt following notification of any updates binds you to the updated General Privacy Policy.
 
    </div>
    <div class="card col-md-7">
        <h3>CONTACT US</h3>
        Please feel free to contact us if you have any questions about our Privacy Policy or the information practices of the Services.
        You may contact us as follows: You may send an email to armstrongmark14@gmail.com, or send mail to:
        <b>123 Some Street
        Anytown, USA 1234</b>
    </div>
</div>

  
<br>




