<!-- Put your page content here -->
<div class="row justify-content-center">

    <div class="card col-md-7">
        <a href="/professor/profile"><button class="btn btn-primary mt-2">Back to Profile</button></a>
         <a href="/professor/attendance/report/csv/{{classID}}">
            <button class="btn btn-primary float-right mb-2" onclick = "download_CSV()">Download Attendance as CSV</button>
        </a>
        <table class="table">
            <tr class="table-borderless">
                <th>Name</th>
                <th>Classes Attended</th>
                <th>Attendance Grade</th>
            </tr>
            {{#each report.people }}
            <tr>
                <td>{{{ this.email }}}</td>
                <td>{{{ this.attended }}}</td>
                <td>{{{ this.percent }}}</td>
            
            </tr>
            {{/each}}
        </table>
    </div>


</div><!-- End of main row -->