

<!-- The main container for our page content. This is where your stuff goes -->
<h1 id= "mytitle"> Attendance </h1>
<div class="container1">



<p id="attendanceintro"  onmousedown="mouseisdown()" onmouseup="mouseisup()"> Hello
  Students. Welcome to the attendance page. Once you have the class code ,
   you may enter it below.
 </p>


 <form action="/attendance/submit" method="post">
   <input type="hidden" name="classID" value="{{{class}}}">
   Attendance Code: <input type="text" name="AttendanceCode" placeholder="Code"><br>
   <input type="submit" value="Submit">
 </form>

    <!-- Put your page content here -->

</div>

<img src = "../img/present_pic.jpg" alt = "I Am Present Image" class= "image1"/>

<style>
body {
  background-color: dodgerblue;
}
  #mytitle{
    text-align: center;
    color: purple;
    background-color: yellow;
    padding: 60 px;

  }

  .container1 {
      padding: 70px 0;
      border: 3px dashed red;
      text-align: center;

      }

    .image1 {
      display :block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }



</style>

<script>
 function mouseisup() {
    document.getElementById("attendanceintro").style.color = "yellow";
 }

 function mouseisdown () {
     document.getElementById("attendanceintro").style.color = "red";
 }
</script>


<!-- Put your JavaScript files here -->

<!-- Bootstrap JavaScript files -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
