<!-- Put your page content here -->
<div class="row justify-content-center">

    <div class="card col-md-7">
        <h3>Are you a Student or Professor?</h3>
        <table>
            <tr>
                <td>
                    <form action="/google/auth/student" method="post">
                        <button class="btn btn-primary">Student</button>
                    </form>
                </td>
                <td>
                    <form action="/google/auth/professor" method="post">
                        <button class="btn btn-warning">Professor</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>